<br>
<div class="container">
<%= render 'nav' %>

<p id="notice"><%= notice %></p>
<div class="container">
<H1>Type your address below</H1>
<br>
	<%= render 'form', place: @place %>


<p align="center">
<%= link_to 'Back', places_path %>
</p>
</div>
</div>